<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>
<div class="mb-5 text-end">
    <label class="form-label me-2">Tema:</label>
    <select id="themeSwitcher" class="form-select w-auto d-inline-block">
        <option value="dark" selected>Scuro</option>
        <option value="light">Chiaro</option>
        <option value="auto">Auto</option>
    </select>
</div>
<!-- Prende dal file fragments il div chiamato navbar e lo sostituisce a questo -->
<div th:replace="fragments :: navbar"></div>

<h1>CIAO SONO IL CORPO DELLA PAGINA</h1>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
<script>
    const themeSwitcher = document.getElementById('themeSwitcher');
    themeSwitcher.addEventListener('change', function () {
        document.body.setAttribute('data-bs-theme', this.value);
    });
</script>
</body>
</html>