<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">

</head>
<body>
  <div th:replace="fragments :: navbar"></div>
    <div class="col-4  pt-4 ps-3">
        <form action="/Contatta" method="post">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Indirizzo Email</label>
            <input name="email" type="email" class="form-control" id="exampleInputEmail1">
          </div>
          <div class="mb-3">
            <label for="exampleInputTitle" class="form-label">Oggetto</label>
            <input name="titolo" type="text" class="form-control" id="exampleInputTitle">
          </div>
          <div class="mb-3 form-floating">
            <textarea name="contenuto" class="form-control"  id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Contenuto</label>
          </div>
          <button type="submit" class="btn btn-primary">Invia Ticket</button>
        </form>
    </div>




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

</body>
</html>